.App {
  text-align: center;
}

.App {
  text-align: center;
}


#login{
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 99;
  transform: translate(-50%, -50%);
  width: 80%;
}

.logo{
  width: 100%;
}

#components-form-demo-normal-login .login-form {
  max-width: 25%;
  margin-left: 20px;
}
#components-form-demo-normal-login .login-form-forgot {
  float: right;
}
#components-form-demo-normal-login .ant-col-rtl .login-form-forgot {
  float: left;
}
#components-form-demo-normal-login .login-form-button {
  width: 100%;
}

.example-enter {
  opacity: 0.01;
}

.example-enter.example-enter-active {
  opacity: 1;
  transition: opacity 500ms ease-in;
}

.example-leave {
  opacity: 1;
}

.example-leave.example-leave-active {
  opacity: 0.01;
  transition: opacity 300ms ease-in;
}
#logo {
  height: 32px;
  margin: 16px 0px;
}

.site-layout-sub-header-background {
  background: #fff;
}

/* .site-layout-background {
  background: #fff;
} */

.user-profile{
  height: 80%;
  width: 100%;
}

.container {
  position: relative;
  height: 220px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.container:before {
  /* empty pseudo */
  content: '';
  
  /* start transparent, include a transition bcuz */
  opacity: 0;
  transition: opacity 0.5s ease;
  
  /* covers the whole div */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.5);
  z-index: 2;
}
.container:hover:before {
  opacity: 1;
}
.container img {
  position: absolute;
  display: block;
  max-width: 50%;
  height: auto;
  z-index: 1;
}

.btn {
  margin-left: 30%;
  margin-top: 5%;
}
.container:hover .btn {
  opacity: 1;
}

@media only screen and (max-width: 600px) {
  .form-box{
    max-width: 100%;
    display: contents;
  }
  .form-box .ant-card{
    margin-top: 10px;
  }
}